*{
    margin: 0%;
    padding: 0%;
}
.row{
    margin: 0%;
    padding: 0%;
}
[class^="col-"] {
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;
}
#nav{
    background-color: #7852A9;
    height: 100%;
    position: fixed;
    width: 15%;
}
#main{ 
    height: 100%;
    margin-left: 15%;
    width: 85%;
}
.img-div{
    background-image: url("music.jpg");
    background-size: cover;
    width: 100%;
    height: 30%;
}
#nav nav{
    padding-top: 100%;
}
#nav a{
    text-align: center;
    color: white;
    font-size: 20px;
    text-decoration: none;
}
img{
    width: 150px;
    height: 150px;
    border-radius: 10%;
}
.table-responsive-lg::-webkit-scrollbar-track {
    background-color: #f1f1f1; 
  }
  .table-responsive-lg::-webkit-scrollbar-thumb {
    border-radius: 100%;
    background-color: #888;
  }
 
  .table-responsive-lg::-webkit-scrollbar-thumb:hover {
    background-color: #555; 
  }
  .table-responsive-lg::-webkit-scrollbar {
    height: 5px; 
    border-radius: 10%;
  }
  .table-responsive-lg::-webkit-scrollbar-button {
    display: none;
  }
.button{
    background-color: #555; 
    width: 20px;
    height: 20px;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

/**************************************************************/

center .card-group{
    width: 70%;
    display: flex;
    justify-content: center;
    margin-top: 5%;
    box-shadow: 2px 1px 8px black;
}
center form{
  padding-left: 15%;
  padding-right: 15%;
 }
center .btn{
    background-color: #4B0082;
    margin-top: 5%;
    color: white;
 }
center .submit{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 5%;
 }
center h3{
    padding-top: 10%;
 }
center h1{
    margin-top: 10%;
    display: flex;
    justify-content: center;
}
center i{
    color: white;
    font-size: 20px;
}
center p{
    padding-top: 3%;
    color: white;
    font-size: 15px;
}
center #bg{
    color: white;
    background-color:#4B0082;
    height: 100%;
    display: flex;
    justify-content: center;
    
}

/*********************************************************************************************************/

.info{
    width: 70vw;
    background-image: linear-gradient(to top,rgba(0,0,0,0.2),rgba(0,0,0,0.02),rgba(0,0,0,0.02));
    height: 120vh;
    margin-top: 10%;
}
.img-bg{
    background-image: url("headphone.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.author{
    text-align: end;
}
.info-text h4{
    color: #A020F0;
    font-size: 45px;
    font-weight: 600;
}
.info-text p{
    color: #B24BF3;
    display: flex;
    justify-content:center;
    font-size: 15px;
    padding-top: 5%;
}
.info-card{
    color: white;
}
.info-card h4{
    font-size: 25px;
    font-weight: 600;
    padding-top: 5%;
    padding-bottom: 10%;
}

